# Dataset
*.json
*.jsonl
*.xml

*.txtpb

*.zip
*.gz
*.bz2
*.7z

/Tapas-Dataset-Parsing/SourceData/spider
/Tapas-Dataset-Parsing/Preprocessing/Dataset
/Table-Parser/Deep-learning-Project/Dataset

# config directory
__pycache__
.idea

# Table set
/Namu-Table-Parser/Tables


*.npy


# Model Files
*.bin
*.h5

# pycharm env
/venv