# Dataset
*.json
*.jsonl

*.txtpb

*.zip
*gz

/Tapas-Dataset-Parsing/SourceData/spider
/Tapas-Dataset-Parsing/Preprocessing/Dataset

# config directory
__pycache__
.idea

# Table set
/Namu-Table-Parser/Tables

# *.npy
*.npy
